:root {
  --color-one: blueviolet;
  --color-two: white;
  --effect: all 200ms ease-in-out;
}
body {
  background: #f7f7f7;
}

.wrapper {
  margin: 90px;
  /*border: 1px solid blue;*/
}

.cont-intro {
  /*border: 1px solid green;*/
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.cont-name {
  /*border: 1px solid red;*/
  font-weight: 800;
  display: flex;
  justify-content: center;
}

h1 {
  margin-left: 50px;
  line-height: 0%;
}

.cont-btn {
  /*border: 1px solid yellow;*/
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

button {
  padding: 10px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  color: var(--color-one);
  background-color: var(--color-two);
}

button:hover {
  color: var(--color-two);
  background-color: var(--color-one);
  transition: var(--effect);
}
